<p id="notice"><%= notice %></p>

<p>
  <strong>Brandname:</strong>
  <%= @window.brandname %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @window.manufacturer %>
</p>

<p>
  <strong>Layers:</strong>
  <%= @window.layers %>
</p>

<p>
  <strong>Material:</strong>
  <%= @window.material %>
</p>

<p>
  <strong>Price:</strong>
  <%= @window.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @window.price %>
</p>

<p>
  <strong>Height:</strong>
  <%= @window.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @window.width %>
</p>

<%= link_to 'Edit', edit_window_path(@window) %> |
<%= link_to 'Back', windows_path %>
