<p id="notice"><%= notice %></p>

<p>
  <strong>Materialname:</strong>
  <%= @material.materialName %>
</p>

<p>
  <strong>Energyproperty:</strong>
  <%= @material.energyProperty %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
